* {
    font-family: 'Nunito', sans-serif;
}

body {
    max-width: 100%;
}

.row {
    margin: 0 !important;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-background-clip: text;
}

.error-404{
    width: 20% !important;
    margin: auto;
}

.card-wrapper .v-application .primary{
    background-color: #0E0E4B !important;
    border-color: #0E0E4B !important;
}

.card-wrapper .v-card--material__header {
    min-height: 66px !important;
}

.card-wrapper .v-sheet.v-card{
    border-radius: 6px !important;
}

.card-wrapper .title-card{
    padding-left: 13px;
}

.card-modal .v-card__title{
    padding: 24px !important;
}

.card-modal .v-application .headline{
    font-family: 'Nunito', sans-serif !important;
    font-weight: bold !important;
}

/* Input */
.form-input .label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.form-input .v-input__slot {
    min-height: 34px !important;
}

.form-input .v-input__append-inner {
    margin-top: 0;
    padding: 6px;
}

.form-input input:-internal-autofill-selected {
    background-color: #fff !important;
}

.form-input input.custom-input{
    height: 34px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid rgba(2, 2, 9, .24);
    padding: 6px 12px;
    font-size: 16px;
    color: #0A0A0A;
}

.form-input input.custom-input::placeholder{
    color: rgba(2, 2, 9, .54);
}

@media screen and (max-width: 960px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}